# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

META-INF/

# NodeJS
node_modules
/dist

# OSX
.DS_Store

# Local environment
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# Vim
*.swp
*.swo

# other editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# patch
*.orig
*.rej